* {
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary: #36DCB8;
  --secondary: #ff9100;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background: #0d0d0d url('assets/noisy-texture02.png') repeat; */
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  background-color: black;
  display: flex;
  flex-direction: column;
}